body {
    max-width: 1800px;
    margin: auto;
}

header {
    font-family: sans-serif;
    background-color: whitesmoke;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 8px 6px -6px gray;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    z-index: 10;
}

#top-bar-title { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#civsalu > p {
    position: relative;
    left: 2%;
    font-style: italic;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    padding-right: 220px;
    padding-top: 5px;
}

#civsalu > img {
    position: relative;
    width: 6em;
    padding-top: 10px;
    left: 2%
}

#civsalu {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#civsalu > a {
    letter-spacing: 3px;
    text-decoration: none;
    color: inherit;
}

#civsalu > a:active {
    text-decoration: none;
}

#top-bar-title > p:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: darkgray;
    font-weight: bolder;
    font-size: 1.2em;
    padding-right: 120px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav > a {
    width: 25vw;
    font-size: 2em;
    text-decoration: none;
    font-weight: bolder;
    border-bottom: 4px solid transparent;
    color: darkgray;
}

nav > a:hover {
    color: turquoise;
    border-bottom: 3px solid turquoise;
}

nav > a:active {
    opacity: 0.7;
}

#menu-button {
    display: none;
}

main {
    font-family: serif;
    background-color: lightblue;
    padding-bottom: 50px;
}

footer {
    background-color: darkgray;
    height: 200px;
    display: flex;
    flex-direction: column;
}

#footer-info {
    position: relative;
    top: 2%;
    height: 85%;
    background-color: rgb(50, 50, 50);
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid darkgray;
}

#footer-info > ul {
    padding: 0;
    text-align: center;
    list-style-type: none;
    width: 50%;
}

ul > :first-child {
    font-weight: bold;
    font-size: 2em;
}

#footer-info > ul > li {
    padding: 5px;
}

#copyright {
    margin: 0;
    background-color: rgb(50, 50, 50);
    height: 15%;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    padding-bottom: 10px;
}

@media (max-width: 900px) {
    body {
        width: 100vw;
    }

    nav {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        background-color: whitesmoke;
        margin-top: 1px;
    }

    nav.open {
        display: flex;
    }

    nav > a {
        flex-direction: column;
        padding: 10px;
        border: 1px solid darkgray;
        text-align: left;
        font-size: 1.2em;
    }

    nav > a:hover {
        border-bottom: 1px solid darkgray;
    }

    #menu-button {
        position: absolute;
        display: block;
        padding-bottom: 5px;
        padding-right: 5px;
        background-color: whitesmoke;
        right: 0;
        font-size: 3em;
    }

    #menu-button:hover {
        cursor: pointer;
    }
    
    #civsalu > p {
        display: none;
    }

    #footer-info {
        font-size: 0.7em;
    }
}