footer {
    background-color: darkgray;
    height: 30vh;
    display: flex;
    flex-direction: column;
}

#footer-info {
    position: relative;
    top: 2%;
    height: 85%;
    background-color: rgb(50, 50, 50);
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2em;
    border-bottom: 1px solid darkgray;
}

#footer-info > ul {
    text-align: center;
    list-style-type: none;
    width: 50%;
}

#footer-info > ul >li {
    padding: 5px;
    font-size: 0.5em;
    font-weight: normal;
}

#copyright {
    margin: 0;
    background-color: rgb(50, 50, 50);
    height: 15%;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    padding-bottom: 5px;
}