body {
    max-width: 2000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header {
    font-family: sans-serif;
    background-color: whitesmoke;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 8px 6px -6px gray;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

#top-bar-title { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#warning {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#warning > p {
    padding-left: 5px;
    color: whitesmoke;
    font-weight: bold;
}

#close-button {
    margin-bottom: 4px;
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: red;
    color: whitesmoke;
    text-decoration: none;
    max-height: 25px;
    outline: none;
}

#close-button:hover {
    border-color: black;
    color: black;
    cursor: pointer;
}

#top-bar-title > p:last-child > img { 
    opacity: 0.5;
    width: 1.2em;
    padding-left: 20px;
    padding-bottom: 8px;
}

#salutem > p {
    position: relative;
    left: 2%;
    font-style: italic;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    padding-right: 220px;
    padding-top: 5px;
}

#salutem > img {
    position: relative;
    width: 6em;
    padding-top: 10px;
    left: 3%
}


#top-bar-title > img:hover { 
    opacity: 1.0;
}

#salutem {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 2em;
    letter-spacing: 3px;
}

#top-bar-title > p:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: darkgray;
    font-weight: bolder;
    font-size: 1.2em;
    padding-right: 120px;
}

nav {
    display: flex;
    justify-content: space-around;
}

a {
    width: 25vw;
    font-size: 2em;
    text-decoration: none;
    font-weight: bolder;
    border-bottom: 4px solid transparent;
    color: darkgray;
}

a:hover {
    color: turquoise;
    border-bottom: 4px solid turquoise;
}

a:active {
    opacity: 0.7;
}

main {
    font-family: serif;
    background-color: lightblue;
    padding-bottom: 50px;
    z-index: -10;
}

.infogram {
    margin: auto;
    margin-top: 50px;
    position: relative;
    z-index: -9;
    max-width: 90%;
}

.infogram > img {
    display: block;
    max-width: 100%;
}

.info-right > h2 {
    text-align: center;
}

.info-right > p:nth-child(3)
{
    position: absolute;
    bottom: 0;
    font-style: italic;
}

.info-right {
    box-sizing: border-box;
    position: absolute;
    text-align: justify;
    top: 0;
    right: 0;
    max-width: 50%;
    height: 100%;
    background-color: whitesmoke;
    opacity: 0.8;
    font-size: 1.2em;
    padding-top: 60px;
}

.info-right > p {
    padding-left: 30px;
    padding-right: 30px;
}

.info-left > p {
    padding-left: 30px;
    padding-right: 30px;
}

.info-left > h2 {
    text-align: center;
}

.info-left > p:nth-child(3)
{
    position: absolute;
    bottom: 0;
    font-style: italic;
}

.info-left {
    box-sizing: border-box;
    position: absolute;
    text-align: justify;
    top: 0;
    left: 0;
    max-width: 50%;
    height: 100%;
    background-color: whitesmoke;
    opacity: 0.8;
    font-size: 1.2em;
    padding-top: 60px;
}

footer {
    background-color: turquoise;
    height: 30vh;
}

#footer-info {
    position: relative;
    top: 2%;
    height: 98%;
    background-color: rgb(50, 50, 50);
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: 2em;
}