body {
    overflow-x: hidden;
}

#form-container {
    margin: auto auto;
    width: 500px;
    height: 500px;
    background-color: rgb(50, 50, 50);
    color: whitesmoke;
}

#form-container.vertTranslate {
    transform: translate(120vw, 0);
    transition: transform 2s cubic-bezier(0.6, -0.2, 0.8, 1);
}

h3 {
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 2em;
    text-align: center;
}

h4 {
    margin: 0;
    margin-left: 1px;
    margin-bottom: 6px;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: left;
}

input, textarea {
    width: 207px;
    font-size: 1.2em;
    padding: 3px;
    border: 2px solid darkgray;
    border-radius: 3px;
    background: transparent;
    color: whitesmoke;
}

input:focus, textarea:focus {
    outline: none;
    border: 2px solid turquoise;  
}

input:focus + label, #conditions > textarea:focus + label {
    bottom: 100%;
    color: turquoise;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

input + label, #conditions > textarea + label {
    color: whitesmoke;
    transition: all 0.2s ease-in-out;
}

#form {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    gap: 12px 10px;
    color: whitesmoke;
    justify-items: center;
}

#conditions {
    grid-column-start: 1;
    grid-column-end: 3;
}

textarea {
    width: 100%;
    resize: none;
    height: 150px;
    font-family: sans-serif;
}

#submit {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 30%;
    padding: 10px;
    justify-self: center;
    background-color: transparent;
    color: darkgray;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.2em;
}

#submit:hover {
    cursor: pointer;
    background-color: rgb(40, 40, 40);
}

#submit:active {
    background-color: rgb(60, 60, 60);
    border: 2px solid turquoise;
    color: turquoise;
}

#submit:focus {
    outline: none;
}

#submit-text-container {
    pointer-events: none;
    opacity: 0;
    width: 100vw;
    position: absolute;
    text-align: center;
    top: 50%;
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif;
    color: whitesmoke;
}

#submit-text {
    margin: auto auto;
    padding: 20px;
    background-color: rgb(50, 50, 50);
    width: 50%;
}

#conditions > label {
    bottom: 87%;
    left: 2%;
}

label {
    position: relative;
    left: 3%;
    bottom: 49%;
    pointer-events: none;
    opacity: 0.3;
    transform: translate(0, -100px);
}

#fill-warning {
    visibility: hidden;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    color: red;
    margin: 0;
    padding: 0;
}

#submit-text > p:nth-child(1)
{
    margin: 0;
    margin-bottom: 25px;
    color: turquoise;
}

#submit-text > p:nth-child(2)
{
    margin: 0;
    margin-bottom: 2px;
    font-size: 0.8em;
}

#submit-text > p:nth-child(3)
{
    margin: 0;
    font-size: 0.5em;
}

@media (max-width: 900px)
{
    main {
        overflow-x: hidden;
    }

    #submit-text {
        width: 80%;
    }

    #form-container.vertTranslate {
        transform: translate(120vw, 0);
        transition: transform 1.7s cubic-bezier(0.6, -0.2, 0.8, 1);
    }

    h3 {
        font-size: 1.5em;
    }

    #form-container {
        width: 350px;
        height: 620px;
    }

    #form {
        justify-items: left;
        gap: 13px 0px;
    }
    
    #fname, #lname, #email, #phone {
        width: 320px;
        grid-column: 1;
    }

    label {
        left: 2%;
        bottom: 50%;
        justify-self: left;
    }

    input {
        width: 90%;
    }

    textarea {
        width: 100%;
    }
}