#services-container {
    margin: auto auto;
    width: 60vw;
    background-color: rgb(50, 50, 50);
    color: whitesmoke;
}

#services {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px 0px;
    text-align: center;
    padding-bottom: 15px;
}

#letter-nav {
    margin: auto;
    margin-bottom: 15px;
    letter-spacing: 5px;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    border: 1px solid darkgray;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: turquoise;
}

.no-letter {
    color: rgb(80, 80, 80);
}

.no-letter:hover {
    color: rgb(80, 80, 80);
}

.letter > p {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 5px;
    text-decoration: underline;
}

.letter > ul {
    margin: 0;
    padding: 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
}

.letter > ul > li {
    padding: 3px;
    list-style-type: none;
}